<div class="post">

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="/assets/avatars/{{ post.usuario?.avatar }}">
    </ion-avatar>

    <ion-label>
      <h3>{{ post.usuario?.nombre }}</h3>
      <h5>{{ post.usuario?.email }}</h5>
    </ion-label>
  </ion-item>


  <!-- ngIf imgs.... -->
  <!-- BUG Problema Get con el ngIF -->
  <!-- <swiper-container pager="true" *ngIf="post.imgs!.length > 1">
    <swiper-slide *ngFor="let img of post.imgs"
                  class="image-slide"
                  [style]=" (img | imagen: post.usuario?._id )"></swiper-slide>
    <swiper-slide *ngIf="post.imgs!.length === 1" [options]="slideSoloOpts"></swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container> -->
  <!-- pager="true" *ngIf="post.imgs!.length > 1" -->
  
  <!-- <swiper-container >
    <swiper-slide class="image-slide"
                  [style]="img1 | domSanitizer"></swiper-slide>
    <swiper-slide class="image-slide"
                  [style]="img2 | domSanitizer"></swiper-slide>
    <swiper-slide class="image-slide"
                  [style]="img3 | domSanitizer"></swiper-slide>
  </swiper-container> -->

  <!-- mapa -->
  <app-mapa [coords]="post.coords" ></app-mapa>
  <!-- *ngIf="post.coords" -->

  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
        {{ post.mensaje }}
    </ion-label>
    
  </ion-item>

</div>